<template>
  <div id="app">
    <el-upload
      class="upload-demo"
      drag
      action="https://test-api-quality-dev.quesoar.com/qdWechatImage/add"
      :on-success="onSuccess"
      :show-file-list="false"
      multiple>
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
    </el-upload>
  </div>
</template>

<script>

export default {
  name: 'App',
  methods: {
    onSuccess(response,file,fileList){
      console.log(response,file,fileList)
      const {url} = response.data;
      window.navigator.clipboard.writeText(url).then(()=>{
        this.$notify({
          title: '上传成功',
          type: 'success',
          message: '图片url已保存在剪切板中,可直接粘贴使用'
        });
      })
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
